<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ng animate test</title>
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/angular.min.js"></script>
  <script src="javascripts/angular-animate.min.js"></script>
  <script src="javascripts/faker.min.js"></script>
  <script src="javascripts/app.js"></script>
  <link rel="stylesheet" href="stylesheets/normalize.css"/>
  <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>

<a href="https://github.com/georgybu/ngAnimateExample"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<div class="app-container">

  <div>
    <h3>Simple list</h3>
    <div class="animation-list-container"  data-ng-controller="dataController as vm" data-dr-resize-event>
      <ul>
        <li data-ng-repeat="item in vm.items track by $index" class="animation-list-item">
          <span class="title">{{item.title}}</span>
          <span class="value">{{item.value}}</span>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <h3>Animation with CSS3 transition</h3>
    <div class="animation-list-container" data-ng-controller="animateCtrl as vm" data-dr-resize-event>
      <ul>
        <li data-ng-repeat="line in vm.lines" class="animation-list-line animation1">
          <ul>
            <li data-ng-repeat="item in line track by $index" class="animation-list-item">
              <span class="title">{{item.title}}</span>
              <span class="value">{{item.value}}</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="animation-list-buttons">
        <button class="prev" data-ng-click="vm.prev()">&lt;&lt;</button>
        <button class="next" data-ng-click="vm.next()">&gt;&gt;</button>
      </div>
    </div>
  </div>

  <div>
    <h3>Animation with $animateCss</h3>
    <div class="animation-list-container"
         data-ng-controller="dataController as vm" style="overflow: hidden;" data-dr-resize-event>
      <div data-dr-animation-list="vm.items"></div>
    </div>
  </div>

</div>

<div class="app-container two">
  <div>
    <h3>Animation with CSS3 transition</h3>
    <div class="animation-list-container" data-ng-controller="animateCtrl as vm" data-dr-resize-event>
      <ul>
        <li data-ng-repeat="line in vm.lines" class="animation-list-line animation1">
          <ul>
            <li data-ng-repeat="item in line track by $index" class="animation-list-item">
              <span class="title">{{item.title}}</span>
              <span class="value">{{item.value}}</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="animation-list-buttons">
        <button class="prev" data-ng-click="vm.prev()">&lt;&lt;</button>
        <button class="next" data-ng-click="vm.next()">&gt;&gt;</button>
      </div>
    </div>
  </div>

  <div>
    <h3>Animation with $animateCss</h3>
    <div class="animation-list-container"
         data-ng-controller="dataController as vm" style="overflow: hidden;" data-dr-resize-event>
      <div data-dr-animation-list="vm.items"></div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="animation-list.html">
  <div>
    <ul class="animation-list-wrapper">
      <li data-ng-repeat="line in lines" class="animation-list-line">
        <ul>
          <li data-ng-repeat="item in line track by $index" class="animation-list-item">
            <span class="title">{{item.title}}</span>
            <span class="value">{{item.value}}</span>
          </li>
        </ul>
      </li>
    </ul>
    <div class="animation-list-buttons">
      <button class="prev" data-ng-click="prev()" data-ng-disabled="isRunning">&lt;&lt;</button>
      <button class="next" data-ng-click="next()" data-ng-disabled="isRunning">&gt;&gt;</button>
    </div>
  </div>
</script>

<h2>(by Georgy Bunin)</h2>
</body>
</html>